In [1]:
import pandas as pd

In [2]:
#Loading all files into data frames for merging
df1 = pd.read_csv('CT_DC_DE.CSV')
df2 = pd.read_csv('MA_MD.CSV')
df3 = pd.read_csv('NJ.csv')
df4 = pd.read_csv('NY.csv')
df5 = pd.read_csv('PA.csv')
df6 = pd.read_csv('VA_WV.csv')

In [3]:
#Creating an array of dataframes for easier manipulation
datafiles = [df1, df2, df3, df4, df5, df6]

In [4]:
#Checking column names to be sure all columns have the same names before merge


for file in datafiles:
    print (file.columns.values.tolist())
    #for i in files.columns:
        #print("-", i, "\n")
    print ("\n Moving to next dataframe \n")
    print("-------------------------------------------")

['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Type of Business', 'Primary SIC Description', 'Location Sales Volume Range', 'Credit Score Alpha']

 Moving to next dataframe

-------------------------------------------
['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone number', 'Website', 'Type of Business', 'Primary SIC Description', 'Location Sales Range', 'Credit Score Alpha']

 Moving to next dataframe

-------------------------------------------
['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Primary SIC Description', 'Location Sales Range', 'Credit Alpha Score']

 Moving to next dataframe

-------------------------------------------
['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number Combined', 'Website', 'Primary SIC Description', 'Location Sales Volume Range', 'Credit Score Alpha']

 Moving to next dataframe

-------------------------------------------
['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number Combined', 'Website', 'Primary SIC Description', 'Location Sales Volume Range', 'Credit Score Alpha']

 Moving to next dataframe

-------------------------------------------
['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number Combined', 'Website', 'Primary SIC Description', 'Location Sales Volume Range', 'Credit Score Alpha']

 Moving to next dataframe

-------------------------------------------

Notes to self :
 - Last file missing Credit Score Alpha (Also reupload this file into git)
 - Drop "Type of Business" column from first two files 
 - Rename certain columns

In [5]:
#Dropping & Renaming certain Columns

#Important to include "inplace", it updates dataframe
for file in datafiles:
    
    #Dropping Type of Business Column
    if ("Type of Business" in file.columns.values.tolist()):
        file.drop( columns = ["Type of Business"], axis = 1, inplace = True)
    
    #Renaming Columns
    file.rename(columns = {"Phone Number Combined" : "Phone Number"}, inplace = True)
    file.rename(columns = {"Phone number" : "Phone Number"}, inplace = True)
    file.rename(columns = {"Location Sales Volume Range" : "Location Sales Range"}, inplace = True)
    file.rename(columns = {"Credit Score Alpha": "Credit Score"}, inplace = True)
    file.rename(columns = {"Credit Alpha Score": "Credit Score"}, inplace = True)

    
    #Print to see of file really dropped
    print (file.columns.values.tolist())
    print("\n Moving to next file \n")
    print("----------------------------------\n")

['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Primary SIC Description', 'Location Sales Range', 'Credit Score']

 Moving to next file

----------------------------------

['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Primary SIC Description', 'Location Sales Range', 'Credit Score']

 Moving to next file

----------------------------------

['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Primary SIC Description', 'Location Sales Range', 'Credit Score']

 Moving to next file

----------------------------------

['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Primary SIC Description', 'Location Sales Range', 'Credit Score']

 Moving to next file

----------------------------------

['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Primary SIC Description', 'Location Sales Range', 'Credit Score']

 Moving to next file

----------------------------------

['Company Name', 'Executive First Name', 'Executive Last Name', 'Executive Gender', 'Executive Title', 'Executive Ethnicity', 'Address', 'City', 'State', 'ZIP Code', 'Record Type', 'Phone Number', 'Website', 'Primary SIC Description', 'Location Sales Range', 'Credit Score']

 Moving to next file

----------------------------------

In [6]:
#All dataframes have the same column names, so we can merge o=into one big dataframe
final_df = df1.append([df2, df3, df4, df5, df6], ignore_index=True)
final_df.drop_duplicates()
final_df.head()

,Company Name,Executive First Name,Executive Last Name,Executive Gender,Executive Title,Executive Ethnicity,Address,City,State,ZIP Code,Record Type,Phone Number,Website,Primary SIC Description,Location Sales Range,Credit Score
0,A & J Mini Market,Antonio,Lucero,Male,Owner,Hispanic,912 E Main St # 2,Stamford,CT,6902,Verified,(203) 324-6616,NaN,Convenience Stores,"$500,000-1 Million",C+
1,Abbott's Hill Farm Inc,Naomi D,Ribeiro,Female,President,Hispanic,5 Abbotts Hill Rd,Newtown,CT,6470,Verified,Not Available,NaN,Farms,"Less Than $500,000",C
2,Abrantes Bakery & Pastry Shop,Isabel,Abrantes,Female,Owner,Hispanic,1851 Park St,Hartford,CT,6106,Verified,(860) 232-1464,Abrantesbakery.Com,Bakers-Retail,"Less Than $500,000",B
3,Ace Begonias Inc,Paul,Rieur,Male,Owner,Uncoded,231 Seymour Rd,Woodbridge,CT,6525,Verified,(203) 393-1129,Ww5.Acebegonias.Com,Greenhouses,$1-2.5 Million,A
4,Acosta Sales & Marketing,John,Deroy,Male,Vice President,Western Europe,880 Burbank Ave # 2,Suffield,CT,6078,Verified,(860) 668-0257,Acosta.Com,Marketing Programs & Services,$10-20 Million,A+

In [7]:
final_df.tail()

,Company Name,Executive First Name,Executive Last Name,Executive Gender,Executive Title,Executive Ethnicity,Address,City,State,ZIP Code,Record Type,Phone Number,Website,Primary SIC Description,Location Sales Range,Credit Score
2289,Sam's Club,Tim,Potesta,Male,Manager,Hispanic,200 Emily Dr,Clarksburg,WV,26301,Verified,(304) 623-6410,Samsclub.Com,Wholesale Clubs,$20-50 Million,A
2290,Sam's Club,Jacob,Atkins,Male,Manager,Western Europe,1100 Grand Central Ave,Vienna,WV,26105,Verified,(304) 295-0280,Samsclub.Com,Wholesale Clubs,$20-50 Million,A
2291,Save-A-Lot Food Stores,Shawna,Grissith,Female,Manager,African American,1055 Stafford Dr,Princeton,WV,24740,Verified,(304) 425-1679,Savealot.Com,Grocers-Retail,$2.5-5 Million,A
2292,Saville Wendell Leroy Buck,Wendell,Saville,Male,Owner,African American,1633 Mount Olive Rd,Rio,WV,26755,Verified,(304) 897-6234,NaN,Poultry Farms,"Less Than $500,000",C
2293,Standard Exterminating Co,Beth,Combs,Female,Manager,Western Europe,100 Straley Ave,Princeton,WV,24740,Verified,(304) 425-7720,Standardwv.Com,Pest Control,"Less Than $500,000",B

In [8]:
#Number of Rows & Columns in dataframe
final_df.shape

(2294, 16)

In [9]:
#Checking for null values in each column
final_df.isnull().sum(axis = 0)

Company Name                 0
Executive First Name         0
Executive Last Name          0
Executive Gender            16
Executive Title              1
Executive Ethnicity         25
Address                      1
City                         0
State                        0
ZIP Code                     0
Record Type                 25
Phone Number                 0
Website                    796
Primary SIC Description      0
Location Sales Range        86
Credit Score                 0
dtype: int64

In [10]:
#Shows datatype of each column
#Note: Object refers to string datatype
final_df.dtypes

Company Name               object
Executive First Name       object
Executive Last Name        object
Executive Gender           object
Executive Title            object
Executive Ethnicity        object
Address                    object
City                       object
State                      object
ZIP Code                    int64
Record Type                object
Phone Number               object
Website                    object
Primary SIC Description    object
Location Sales Range       object
Credit Score               object
dtype: object

In [11]:
#Saves dataframe as csv file to current working directory
final_df.to_csv(r'final_df.csv', index= False, header= True)

In [ ]:
#Standardize website url
#Do a groupby for ethnicity overall
#Do a groupby for ethnicity per state 
#Do a groupby for primary sic description
#Groupby ethnicity and credit score
#Groupby gender
#Use address to create maps of locations (Geo JSON) - heat maps 
#Create groupby based on location sales range values 
#Send Columns to dictionary